* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-cursive: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
  --ff-sans-serif: Verdana, Geneva, Tahoma, sans-serif;
  --cell-size: 80px;
  --marker-fs: calc(var(--cell-size) * 0.95);

  --white: #fff;
  --whitesmoke: #f5f5f5;
  --black: #000;
  --opacity-black: hsla(0, 0%, 0%, 0.9);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-family: var(--ff-sans-serif);
  font-size: var(--fs);
  position: relative;
  text-align: center;
  font-weight: 500;
}

button,
input {
  font: inherit;
  border: none;
}

button {
  cursor: pointer;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  gap: 4px;
  font-family: var(--ff-cursive);
}

.game-board:has(button) {
  background-color: var(--black);
}

[data-cell] {
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  font-size: var(--marker-fs);
  font-weight: 700;
  justify-content: center;
}

.display-turn {
  font-size: 1.5em;
  margin-bottom: 1.2em;
}

.display {
  display: none;
  position: fixed;
  background-color: var(--opacity-black);
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--whitesmoke);
  gap: 1.5rem;
  font-size: 1.5em;
}

.button {
  padding: 0.2em 1em;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;

  &:hover,
  &:focus-visible,
  &:active {
    border-color: var(--black);
  }
}

.display p {
  max-width: 320px;
}

.start > p {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0.5em;
  text-align: justify;

  & input {
    padding: 5px;
  }
}

.display.start,
.display.finished {
  display: flex;
}
